<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "/static/style.css">
    <title>Lista</title>
</head>
<body class = "lista">
    <h1>Lista</h1>
    <h2 class = "subtitulo"> Minhas Tarefas</h2>
    <div class = "formulario3">
        <form action ="/lista" method = "POST">
            <label for = "senha">Adicionar Tarefa</label>
            <input type = "text" id = "tarefa" name = "tarefa" placeholder = "O que precisa ser feito?" required>
            <button type = "submit" class = "btn">+</button>
        </form>
    </div>

    {% for tarefa in tarefas %}
    <label class = "checkbox">
        <input type = "checkbox" {{ "checked" if tarefa[2] else "" }}
        onclick = "window.location.href='/tarefas/atualizar/{{ tarefa [0] }}'">
        {{ tarefa [1] }}  
        <button class = "acao-btn" onclick = "window.location.href='/tarefas/editar/{{ tarefa [0] }}'">Editar</button>
        <button class = "acao-btn excluir" onclick = "if(confirm('Tem certeza que deseja excluir esta tarefa?')) window.location.href='/tarefas/excluir/{{ tarefa [0] }}'">Excluir</button>
    </label>
    <hr/>
    {% endfor %}

    <input type = "button"
    onclick = "window.location.href='/excluir_usuario'" value="Excluir usuário">
</body>
</html>