<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nova Música</title>
    <link rel="stylesheet" href="/static/estilo.css">
</head>

<body>
    <div>
        <header>
            <img id="logo-home" src="/static/img/Logo texto.png" alt="Logo Melodia" class="logo">
            <br>
        </header>
        <div class="container">
            <form action="/home/editar_musica/{{id}}" method="POST" class="form_nova">
                <div class="caixa-de-login">
                    <div class="card-content">
                        <div class="form-group">
                            <label for="imagem">URL da Imagem:</label>
                            <input type="text" class="form-control" id="imagem" name="imagem" value="{{musicas [3]}}">
                        </div>
                        <div class="form-group">
                            <label for="musica_nome">Música:</label>
                            <input type="text" class="form-control" id="musica_nome" name="musica_nome" value="{{musicas [0]}}" required>
                        </div>
                        <div class="form-group">
                            <label for="artista">Artista:</label>
                            <input type="text" class="form-control" id="artista" name="artista" value="{{musicas [1]}}" required>
                        </div>
                        <div class="form-group">
                            <label for="status">Status:</label>
                            <select class="form-control" id="status" name="status" value ="{{musicas [2]}}" required>
                                <option value="composicao">Composição</option>
                                <option value="gravacao">Gravação</option>
                                <option value="finalizada">Finalizada</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="letra">Letra:</label>
                            <input type="text" class="form-control" id="letra" name="letra" value="{{musicas [4]}}" required>
                        </div>
                        <div class="botoes">
                            <button type="submit">Editar Música</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <!-- Mais cards podem ser adicionados aqui -->
    </div>
    </section>

</body>

</html>