<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="static/estilo.css">
</head>

<body id="home">
  <img id="logo-home" src="/static/img/Logo texto.png">

  <div class="botoes">
    <a href="/novo"> + Criar uma música</a>
  </div>

  <!-- Seção de "Minhas Criações" -->
  <section class="my-creations">
    <h2>Minhas Criações</h2>
    <div class="cards-container">
      {% for musica in musicas %}
      <div class="cards-container">
        <div class="card mb-4">

          {% if musica[3] is not none and musica[3] != '' %}
          <img src="{{ musica[3] }}" class="card-img-top" alt="Capa da Música">
          {% else %}
          <img src="{{ url_for('static', filename='img/no-image.jpeg') }}" class="cover" alt="Imagem Padrão">
          {% endif %}

          <div class="card-content">
            <h5 class="card-text">Música: {{ musica [0] }}</h5>
            <p class="card-text">Artista: {{ musica [1] }}</p>
            <p class="card-text">Status: {{ musica [2] }}</p>
            <p class="card-text">Letra: {{ musica [4] }}</p>

            
            <input type="button" onclick="window.location.href='/home/apagar-musica/{{musica [5]}}'" class = "btn btn-danger" value="apagar-musica">
            <input type="button" onclick="window.location.href='/home/editar_musica/{{musica [5]}}'" class = "btn btn-danger" value="editar_musica">
            
          </div>
        </div>
      </div>
      {% else %}
      <p>Nenhuma viagem encontrada.</p>
      {% endfor %}
      <!-- Mais cards podem ser adicionados aqui -->
    </div>
  </section>

</body>

</html>