<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Login - Ouriço TV</title>
  <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
  <div class="container">
    <h1>Entrar</h1>

    <form id="login-form" class="active">
      <input type="email" placeholder="Email" name="email" required />
      <input type="password" placeholder="Senha" name="senha" required />
      <button type="submit" class="submit-btn">Entrar</button>
    </form>

    <p style="text-align: center; margin-top: 1rem; color: #aaa;">
      Não tem uma conta?
      <a href="/cadastro" style="color: #bb86fc; text-decoration: none;">Cadastre-se</a>
    </p>
  </div>
</body>
</html>
